.header-container {
    height: 40px;
    width: 100%;
    flex-direction: row;
}

.header-section {
    background-color: #497249;
    height: 40px;
    width: 20%;
    justify-content: center;
    margin-right: 1%;
}

.text-title {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

